body {
    background: midnightblue;
}

#ground {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: black;
}


#trees {
        display: inline-flex;
        position: absolute;
        left: 0;
        bottom: 100px;
        width: 200px;
        height: 300px;
}